<template>
  <nav>
    <ul class="flex gap-2">
      <li><nuxt-link to="/"> Home </nuxt-link></li>
      <li><nuxt-link to="/about"> About </nuxt-link></li>
      <li><nuxt-link to="/contact"> Contact </nuxt-link></li>
      <li><nuxt-link to="/posts"> Blog </nuxt-link></li>
    </ul>
  </nav>
</template>
<style scoped>
.nuxt-link-exact-active {
  @apply font-semibold;
}
</style>