<template>
  <div class="markdown-body">
    <h2>{{ postInMarkdown.title }}</h2>
    <p>{{ postInMarkdown.author }}</p>
    <nuxt-content :document="postInMarkdown"></nuxt-content>
  </div>
</template>

<script>
import logo from "~/components/Logo";
import "github-markdown-css/github-markdown.css";

export default {
  components: {
    logo,
  },
  async asyncData({ $content, params }) {
    const postInMarkdown = await $content(params.slug)
      .fetch()
      .catch((err) => {
        console.log(err);
      });

    // console.log(postInMarkdown);

    return {
      postInMarkdown,
    };
  },
};
</script>

<style scoped>
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
</style>