<template>
  <div>
    <h3>Blog posts overview</h3>
    <ul>
      <li v-for="(post, index) in posts" :key="index">
        <nuxt-link :to="`posts/${post.slug}`">
          {{ post.title }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: null,
    };
  },
  async fetch() {
    this.posts = await this.$content().fetch();
  },
};
</script>

<style lang="scss" scoped>
</style>